h1{
	color: #346ced;
}

p{
	color: #346ced;
}

p{
	color: #346ced;
}
ul{
	margin-bottom: 10px;
	overflow: hidden;
}

li{
	float: left;
	display: block;
	width: 60px;
}

body{
	background: #429ef5;
}