ul{
	margin-bottom: 10px;
	overflow: hidden;
}

li{
	float: left;
	display: block;
	width: 60px;
}

body{
	background: #429ef5;
	overflow: hidden;
}

.container{
	width: 500px;
	text-align: center;
	overflow: hidden;
}

.slides{
	
}

table{
	border-width: 4px;
	border-color: #0d0b0b;
	border-style: dashed;
}

li, a{
	width: 80px;
	color: #e30707;
	float: left;
}

h3{
	font-size: 25pt;
}

img:hover{
	opacity: 0.75;
}

