ul{
	margin-bottom: 10px;
	overflow: hidden;
}

li{
	float: left;
	display: block;
	width: 60px;
}

body{
	background: #429ef5;
}

table{
	border-width: 4px;
	border-color: #0d0b0b;
	border-style: dashed;
}

li, a{
	width: 80px;
	color: #e30707;
	float: left;
}